.sign-up,.login{text-align: center;}
.sign-up h1,.login{
    margin-top: 50px;
    margin-bottom: 80px;
    color:aquamarine;
}
.auth-toogle-link{
    color: rgb(255, 0, 221);
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
}